@page "/"
@using DomainModels
@inject Blazor.Services.APIService ApiService
@using System.Net.Http



<PageTitle>Home</PageTitle>
@if (hotels == null)
{
	<p><em>Loading hotels...</em></p>
}
else if (hotels.Length == 0)
{
	<div class="alert alert-info">No hotels found.</div>
}
else
{
	<div class="d-flex justify-content-center">
	@foreach (var h in hotels)
	{
@* 		@if (rooms == null)
		{
				<p><em>Loading rooms...</em></p>
		}
		else if (rooms.Length == 0)
		{
				<div class="alert alert-info">No rooms found.</div>
			}
		else
		{

		@foreach (var r in rooms)
		{ *@
		
			hid = $"images/hotel_{h.Id}_outside.jpg";

			<div class="card col-3 float-start m-1 h-25">
				<img src=@hid class="" alt="billede af et hotel" style="margin:0 auto; width:100%; height:50%;">
				<div class="h-100 d-flex flex-column">
					<div class="card-body border-bottom row row-cols-1 row-cols-sm-2 gy-1 text-nowrap">

						<div class="fw-bold mb-2">@h.Name</div>
						<div class="col text-end">
							<div class="active text-alert fw-semibold me-1">@h.PercentagePrice%</div>
						</div>
						<p class="card-subtitle"><i>@h.Road,<br /> @h.Zip,@h.City, @h.Country</i></p>
					</div>


					<div class="card-body">


						<span class="mx-1"></span>
						<div class="col text-center">
							<div class="active text-alert fw-semibold me-1"></div>
						</div>
					</div>

				</div>

			</div>
@* 			}
 		} *@
	}
	</div>
}

@code {
	private HotelGetDto[]? hotels;
	// private RoomGetDto[]? rooms;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			hotels = await ApiService.GetHotelsAsync(3);
			// rooms = await ApiService.GetRoomsAsync(0);

		}
		catch (Exception ex)
		{
			Console.WriteLine($"Fejl ved hentning af hoteller: {ex.Message}");
			hotels = Array.Empty<HotelGetDto>();
			// rooms = Array.Empty<RoomGetDto>();
		}
	}
	string hid = "";
}
